*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family: "Poppins";
}

/* nav section  */
header{
    background-color: #1E1E1E;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.nav-links ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #ffffff;
    
    
}
.nav-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.nav-links ul li{
    list-style: none;
    display: flex;
}
.nav-item{
    display: flex;
    

}
.nav-chlid{
    display: flex;
    align-items: center;
}
/* nav style color section */

.nav-logo{
    color: #FD6F00;
}
.nav-btn{
     background-color: #FD6F00;
     color: white;
}

/* header section */
.header-btn{
    margin-top: 30px;
    width: 240px;
    padding: 5px;
    background-color: #2e2e2e; 
    border-radius: 30px;
    border: 2px solid #FD6F00;
    
    
}
.btn-2{
    background-color: #2e2e2e;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.btn{
    background-color: #FD6F00;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
 }

.header-img{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #2c2c2c;
    overflow: hidden;
}
.content{
    position: absolute;

}
.header-img{
    width: 400px;
    height: 400px;
}
.header-title{
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.header-title span{
    color: #FD6F00;
    font-size: 25px;
   align-items: center;
}
.header-para{
    margin-top: 20px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.header-h3{
    color: rgb(122, 122, 122);
    margin-top: 20px;
}
.header-h3 span{
   color: #FD6F00;
}
.header-icon{
    margin-top: 15px;
    color: rgb(122, 122, 122);
    font-size: 20px;
    
}
.header-icon span{
    margin-left: 10px;
}

@keyframes slide {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100%);
    }
}

.logo{
    overflow: hidden;
    rotate: -3deg;
    background-color: black;
    padding: 20px 20px;
}

.slider-logo{
    white-space: nowrap;
    /* background-color: black; */
    
    animation: 20s slide infinite linear;
    color: #ffffff;
    position: relative;
    
   

    
}
nav{
    /* padding-bottom: 40px; */
    height:840px;
}
.slider-logo span{
    margin-left: 10px;
  


}
.slider-logo i{
    color: #1f1f1f;
}

.header-bottom{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.header-bottom-left h1{
    color: white;
}
.header-bottom-left small{
    color: rgb(87, 87, 87);
}

.header-bottom-right i{
  color: #FD6F00;
    
}

.header-bottom-right h1{
    color: white;
 
}

.header-bottom-right small{
    color: rgb(87, 87, 87);
    margin-left: 34px;
}


/* main section  */

.my-experience{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(46,38,49) , rgb(53,39,37), rgb(52,44,34));
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    
   
}
.experience-left{
    color: white;

}

.experience-right{
    color: white;
    
}
.right-1 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.right-1{
    border-bottom: 1px solid rgb(131, 131, 131);
    
}
.right-2{
    border-bottom: 1px solid rgb(131, 131, 131);
    
}
/* .right-3{
    border-bottom: 1px solid rgb(131, 131, 131);
    
} */
.right-2 h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-3 h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-chlid{
    display: flex;
    justify-content: space-between;
    /* margin-top: 40px; */

}
.right-chlid small{
    margin-top: 10px;
    margin-bottom: 10px;
}
.experience-left h1{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* new section */

.Awards{
    background-color: #1b1b1b;
    padding-top: 80px;
    padding-bottom: 80px;
    /* text-align: center; */
    
}

.Awards h1{
    color: white;
    padding-bottom: 10px;
}
.awards-title small{
    color: #a5a5a5;
}

.awards-card{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.awards-child{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.awards-child-1 h3{
    padding-bottom: 20px;
}
.awards-title{
    text-align: center;
}

/* new section */

.my-portfolio{
    background-color: #1b1b1b;
    /* text-align: center; */
    padding-bottom: 40px;
}
.portfolio-btn {
    margin-top: 20px;
    color: black;
    text-align: center;
    
}
.portfolio-title{
    text-align: center;
}
.web-btn{
    background-color: #FD6F00;
    color: white;
}
.portfolio-btn button{
    padding: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    
}

.my-portfolio h1 {
    color: white;

    padding-bottom: 10px
}
.my-portfolio small{
    color: #a5a5a5;
}

/* new section */

.portfolio-card-1{
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    align-items: center;
    color: white;
}

.portfolio-img{
    width: 345px;
    height: 235px;
    object-fit: cover;
}

.portfolio-child-img{
    width: 445px;
    height: 335px;
    background-color: black;
}
.img2{
    position: relative;
    bottom: 150px;
    left: 60px;
}
.img1{
    position: relative;
    /* bottom: 150px; */
    left: 20px;
}

.prt-card-2{
    flex-direction: row-reverse;
}

/* new section */


.project-container{
    padding-left:40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.project-title{
    text-align: center;
    text-transform: uppercase;
}
.project-chlid{
    background-color: #883d049d;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.project-input input{
        background-color:#883d049d;
        border: none;
      
      padding: 10px;
        margin-top: 20px;
        margin-left: 80px;
        border-bottom:1px solid #a5a5a5;
    }

.project-chlid h1{
    margin-left: 80px;
    text-transform: uppercase;
}
.input-name{
    width: 400px;
}

.input-email{
    width: 400px;
}
.message{
    width: 900px;
   
    margin-bottom: 30px;
}
.project-input button{
    margin-left: 80px;
    padding: 10px;
    background-color: #FD6F00;
    border: none;
    color: white;
    border-radius: 5px;
}


/* footer section */
footer{
    background-color: black;
    height: 400px;
}
.footer-logo{
    text-align: center;
    color: #FD6F00;
    padding-top: 80px;
}
.footer-link{
    text-align: center;
    padding-top: 40px;
}
.footer-link a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.footer-icon{
    text-align: center;
    padding-top: 40px;
}
.footer-icon a{
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.footer-copyright{
    color: white;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(18, 18, 18);
    text-align: center;
    /* padding-top: 80px; */
}

